.Container-AddButton {
    position: fixed;
    bottom: 6%;
    right: 11%;
    /* margin: 5rem;
    margin-left: 3rem; */
    border: none;
    height: 3rem;
    border-radius: 30px;
    background-color: #0A95FF;
    color: rgb(231, 231, 231);
    cursor: pointer;
    margin-left: 4px;
    padding: 0 1.5rem 0 1.5rem;
}

.Container-AddButton:hover {
    background-color: #4ab1ff;
}

/* #0A95FF */
/* #09c372 */