.Container-ModalToPost{
    background-color: #fff;
    width: 60%;
    /* height: 50%; */
    position: absolute;
    left: 20%;
    top: 30%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.314) 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem;
}

.Container-ModalToPost  .title {
    /* position: absolute;
    top: 0;
    margin-top: 1rem; */
}

.Container-ModalToPost legend{
    margin-bottom: 0.3rem;
}

.Container-ModalToPost .btn-submit {
    border: none;
    height: 3rem;
    width: 20%;
    border-radius: 30px;
    background-color: #0A95FF;
    color: #fff;
    cursor: pointer;
    margin-left: 4px;
    padding: 0 50px 0 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.Container-ModalToPost .btn-submit:hover {
    background-color: #4ab1ff;
}

.btn_close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.5rem 0 0.5rem;
    background-color: rgb(241, 91, 91) ;
    margin: 0.5rem;
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1;
}
.btn_close:hover {
    background-color: rgb(222, 113, 113);
}

@media (max-width: 600px){
    .title{
        font-size: 1.5rem;
        margin: 0 2rem 0 2rem;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .Container-ModalToPost fieldset input {
        width: 10rem;
    }
    .Container-ModalToPost  .title {
        font-size: 1.3rem;
    }
}