.btn_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 0.5rem 0 0.5rem;
    background-color: rgb(241, 91, 91) !important;
    margin: 1rem;
}